<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label>Subtract this:</label>
  <input type="text" name="first_number">

  <label for="second_field">from this:</label>
  <input type="text" id="second_field" name="second_number">

  <button>Subtract!</button>
</form>
