<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_field">Multiply this:</label>
  <input type="text" id="first_field" name="first_number">

  <label for="bear">by this:</label>
  <input type="text" id="bear" name="second_number">

  <button>Multiply!</button>
</form>
